.homebody {
    background-image: url("/Images/bossbaby.jpeg");
    background-size: cover; /* Optional: Scales the image to cover the entire background */
    background-repeat: no-repeat; /* Optional: Prevents image repetition */
}
.beach {
    background-image: url("/Images/beach.jpeg");
    background-size: cover; /* Optional: Scales the image to cover the entire background */
    background-repeat: no-repeat; /* Optional: Prevents image repetition */
}
.large-button {
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding for text spacing */
}

.input-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set the container height to 100% of the viewport height for vertical centering */
}

.lineheight{
    line-height:2;
}

.gold {
    color: gold
}

nav ul li {
    display: inline; /* or display: inline-block; */
    margin-right: 20px; /* Adjust the spacing between list items */
  }

 section img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.blue{
    color: blue
}
.home_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxed-header {
    border: 1px solid #c4e609; /* Set the border style (1px solid black in this example) */
    padding: 20px; /* Add padding to create space between text and border */
    border-radius: 5px; /* Add rounded corners (optional) */
}

table {
    border-collapse: collapse; /* Collapse table borders into a single border */
    width: 100%;
}

th, td {
    border: 1px solid #ddd; /* Add a border to header and data cells */
    padding: 8px; /* Add padding for spacing within cells */
    text-align: left; /* Align text within cells */
}

th {
    background-color: #f2f2f2; /* Add background color to header cells */
}